<h1>All Mechanics</h1>
<li class="mechanics-list">
  <% @mechanics.each do |mechanic| %>
    <p>Name: <%= mechanic.name %></p>
    <p>Years of Experience: <%= mechanic.years_experience %></p>
  <% end %>
</li>
<p>Average Years of Experience: <%= @mechanics.average_years_experience %></p>
